* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

:root {
	--bg-color: #222327;
	--bg-color2:#333;
	--text-color: #fff;
	--main-color: #29fd53;
	--clr-neutral-900: hsl(207 19% 9%);
	--clr-neutral-100: hsl(0, 0%, 100%);
	--clr-accent-400: #42f584;
	--primary: #2175f5;
	--heading:#f50606;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

h1 {
	font-size: 3rem;
	margin-bottom: 1rem;
	color:var(--heading)
}

.date {
	color: var(--bg-color) !important;
}

.clock {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 5rem;
	color: var(--text-color);
	background-color: var(--bg-color2);
	padding: 1rem 2rem;
	border-radius: 1rem;
	box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
}

.clock span {
	padding: 0.5rem;
}

.d {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
	color: var(--text-color);
	background-color: var(--bg-color2);
	padding: 1rem 2rem;
	border-radius: 1rem;
	box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
}

body {
	background-image: url("./image/background.jpg");
	background-size: cover;
	background-position: center;
}