@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  text-align: center;
}

.button {
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
}

.button {
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
  border-radius: 50%;
  color: aliceblue;
  background-color: rgba(13, 17, 25, 0.5);
}

.row {
  margin: 8px 0;
}

.row input {
  width: 291px;
  font-size: 20px;
  margin: 0;
  padding: 10px 0px;
  border: 2px solid black;
  border-radius: 10px;
}

.container {
  justify-content: center;
  border: 1px solid #717377;
  padding: 20px;
  border-radius: 16px;
  background: transparent;
  box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
  width: fit-content;
  margin: 0 auto;
  background-color: rgba(113, 115, 119, 0.5);
  font-size: 20px;
}

.equal {
  background-color: orange;
}

.special{
  color:rgb(21, 232, 161)
}